<div *ngIf="teamMembers.length > 0">
  <h3>Team Members</h3>
  <ul>
    <li *ngFor="let member of teamMembers">
      {{ member.first_name }} {{ member.last_name }} - {{ member.domain }}
    </li>
  </ul>
</div>
<p-table [value]="users" #dt1 [paginator]="true" [rows]="rows" [globalFilterFields]="['email']"
  [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" paginatorLocale="fa-IR">
  <ng-template pTemplate="caption">
    <div class="flex">
      <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear()"></button>
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" #inputVal placeholder="Search keyword" />
        <button (click)="searchData(inputVal.value)" pButton class="p-button-outlined">Search</button>
      </span>


    </div>
    <div class="filter">
        <span class="p-input-icon-left ml-auto">
          <select class="p-button-outlined slect" (change)="changeGenderValue($event.target)">
            <option *ngFor="let gender of genderList" [value]="gender">{{gender}}</option>
          </select>
        </span>
        <p-columnFilter type="text" field="domain" placeholder="filter domain"  id="test"></p-columnFilter>
        <p-columnFilter type="text" field="available" placeholder="Availability"></p-columnFilter>
    </div>

  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th style="width:25%">Id</th>
      <th style="width:25%">FirstName</th>
      <th style="width:25%">LastName</th>
      <th style="width:25%">Email</th>
      <th style="width:25%">Gender</th>
      <th style="width:25%">Avatar</th>
      <th style="width:25%">Domain</th>
      <th style="width:25%"> Available </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer>
    <tr>
      <td>{{ customer.id }}</td>
      <td>{{ customer.first_name}}</td>
      <td>{{ customer.last_name }}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.gender}}</td>
      <td><img src="{{customer.avatar}}" alt="Avatar"></td>
      <td>{{customer.domain}}</td>
      <td>{{customer.available}}</td>
      <td>
        <button *ngIf="customer.available " pButton label="Add to Team" class="p-button-outlined" (click)="addToTeam(customer)"></button>
      </td>
    </tr>

  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button type="button" styleClass="p-button-text"></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button type="button" styleClass="p-button-text"></p-button>
  </ng-template>
</p-table>



